<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}mso digital ChatGPT Clone{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('/build/images/chatgpt-mso-digital_favicon_io/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('/build/images/chatgpt-mso-digital_favicon_io/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('/build/images/chatgpt-mso-digital_favicon_io/favicon-16x16.png') }}">
        <link rel="manifest" href="{{ asset('/build/manifest.json')}}" crossorigin="use-credentials" />
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('/build/images/Website_favicon.png') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    </head>
    <body>
        <div class="page-wrapper">
            {% block body %}{% endblock %}
            <div id="symplr-notification" class="notification-box">
                <span id="symplr-message"></span>
            </div>
        </div>
        {% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}
    </body>
</html>
