{% extends 'base.html.twig' %}
    
    {% block stylesheets %}
        {{ parent() }}
        {{ encore_entry_link_tags('chatHistory') }}
    {% endblock %}
    {% block body %}
            <table class="fullTable">
                    <tr class="tr-table">
                            <th class="headline"> {{'app.chat_history.id'|trans}} </th>
                            <th class="headline"> {{'app.chat_history.user_email'|trans}} </th>
                            <th class="headline"> {{'app.chat_history.request'|trans}}</th>
                            <th class="headline"> {{'app.chat_history.response'|trans}}</th>
                            <th class="headline"> {{'app.chat_history.created_at'|trans}}</th>
                            <th class="headline"> {{'app.chat_history.model'|trans}}</th>
                    </tr>
                    <div id="table_placing" class="tableStyle">
                    {% for chatHistory in histories %}
                        <tr>
                                <td class="bodyline-id">{{ chatHistory.id }}</td>
                                <td class="bodyline">{{ chatHistory.user.email }}</td>
                                <td class="bodyline">{{ chatHistory.request }}</td>
                                <td class="bodyline">{{ chatHistory.response }}</td>
                                <td class="bodyline">{{ chatHistory.createdAt|date('d.m.Y H:i:s') }}</td> 
                                <td class="bodyline">{{ chatHistory.model }}</td>
                                
                        </tr>
                    {% endfor %}
                    </div>
            </table>
        </div>    
    {% endblock %}
