{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('faq') }}
{% endblock %}

{% block title %}Edit Faq{% endblock %}

{% block body %}
    <h1 class="title">Edit FAQ</h1>
       {{ include('faq/_form.html.twig', {'button_label': 'Update'}) }}

        <a href="{{ path('app_faq_index') }}" class="center-btn">back to list</a>

        {{ include('faq/_delete_form.html.twig') }}
{% endblock %}
