{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('faq') }}
{% endblock %}

{% block title %}Edit Faq{% endblock %}

{% block body %}
    <h1 class="title">{{'Edit FAQ'|trans}}</h1>
       {{ include('faq/_form.html.twig', {'button_label': 'app.faq.update'|trans}) }}

        <a href="{{ path('app_faq_index') }}" class="center-btn">{{'app.faq.back_to_list'|trans}}</a>

        {{ include('faq/_delete_form.html.twig') }}
{% endblock %}
