{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('faq') }}
{% endblock %}

{% block title %}New Faq{% endblock %}

{% block body %}
    <h1 class="title">{{'app.faq.new_question'|trans}}</h1>

    <div class="stay-together">

        {{ include('faq/_form.html.twig') }}
        <a href="{{ path('app_faq_index') }}" class="right-btn">{{'app.faq.back_to_list'|trans}}</a>

    </div>
{% endblock %}
