{% extends 'base.html.twig' %}

{% block title %}{{ 'Chat bot' }}{% endblock %}

{% block body %}
<div class="body_wrapper">
    <div class="container">
        <h3 class="text-uppercase">{{ 'Chat bot' }}</h3>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit">Submit</button>
        {{ form_end(form) }}

        {% if answer is not empty %}
            <p>The answer is: {{ answer|raw|nl2br }}</p>
        {% endif %}
    </div>
</div>
{% endblock %}
