{% extends 'base.html.twig' %}

{% block title %}Prompt-Privacy-Portal{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('chat') }}
{% endblock %}

{% block body %}

{% include('settingsModal.html.twig') %}
<input type="hidden" id="app_chat_conversation_start" value="{{'app.chat.conversation_start'|trans }}">
<input type="hidden" id="app_chat_history_displaying" value="{{'app.chat.history_displaying'|trans }}">
<input type="hidden" id="symplr-save-settings-url" value="{{ path('app_save_settings') }}">
<input type="hidden" id="symplr-delete-user-url" value="{{ path('app_delete_user') }}">
<input type="hidden" id="symplr-chat-answer-url" value="{{ path('app_get_chat_answer') }}">
<input type="hidden" id="symplr-chat-history-url" value="{{ path('admin_chat_history') }}">
<input type="hidden" id="symplr-faq-url" value="{{ path('app_faq_index') }}">
<input type="hidden" id="chat-count" value="{{ chatCount }}">
<input type="hidden" id="mso-image-url-light" value="/build/images/prompt-privacy-portal/logo_prompt-privacy-portal_blau.svg">
<input type="hidden" id="mso-image-url-dark" value="/build/images/prompt-privacy-portal/logo_prompt-privacy-portal_weiß.svg">

<div class="chat-container"></div>
<div class="typing-container">
    <div class="typing-content">
        <div class="typing-type">
            <select id="chat-types">
                <option value="o3-mini-2025-01-31">ChatGPT o3 mini</option>
                <option value="o1-preview">ChatGPT o1</option>
                <option value="o1-mini">ChatGPT o1 mini</option>
                <option value="gpt-4o-2024-08-06">ChatGPT 4o</option>
                <option value="gpt-4-turbo">ChatGPT 4 Turbo</option>
                <option value="gpt-4">ChatGPT 4</option>
                <option value="gpt-3.5-turbo-0125">ChatGPT 3.5 Turbo</option>
                <option value="dall-e-3">DALL·E 3</option>
            </select>
        </div>
        <div class="typing-textarea">
            <textarea id="chat-input" placeholder="{{'app.chat.prompt'|trans}}" required></textarea>
            <span id="send-btn" class="material-symbols-rounded">send</span>
        </div>
        <div class="typing-controls">
            <span id="theme-btn" class="material-symbols-rounded">light_mode</span>
            <span id="delete-btn" class="material-symbols-rounded">delete</span>
            <span id="settings-btn" class="material-symbols-rounded">settings</span>
            <span id="faq-btn">FAQ</span>
            {% if is_granted('ROLE_ADMIN') %}
                <span id="history-btn" class="material-symbols-rounded">history</span>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('chat') }}
{% endblock %}
